{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- Left Nav Content -->
<div class="columns my-4 mx-3">
  <div class="column is-narrow">
    <div class="box" style="width: 500px; box-shadow: none;">
      <div class="columns is-vcentered box has-background-light">
        <div class="column is-one-third">
          <figure class="image is-1by1">
            <img src="{% static 'images/londonsquare.jpg' %}">
          </figure>
        </div>
        <div class="column">
          <a href="{% url 'london' %}" class="is-size-2"><h2 class="london">London</h2></a>
        </div>
      </div>
      <div class="columns is-vcentered box my-2">
        <div class="column is-one-third">
          <figure class="image is-1by1">
            <img src="{% static 'images/sanfransquare.jpg' %}">
          </figure>
        </div>
        <div class="column">
          <a href="{% url 'sanfran' %}" class="is-size-2"><h2>San Francisco</h2></a>
        </div>
      </div>
      <div class="columns is-vcentered box my-2">
        <div class="column is-one-third">
          <figure class="image is-1by1">
            <img src="{% static 'images/seattle2square.jpg' %}">
          </figure>
        </div>
        <div class="column">
          <a href="{% url 'seattle' %}" class="is-size-2"><h2>Seattle</h2></a>
        </div>
      </div>
      <div class="columns is-vcentered box my-2">
        <div class="column is-one-third">
          <figure class="image is-1by1">
            <img src="{% static 'images/sydneysquare.jpg' %}">
          </figure>
        </div>
        <div class="column">
          <a href="{% url 'sydney' %}" class="is-size-2"><h2>Sydney</h2></a>
        </div>
      </div>
    </div>
  </div>

<!-- Right side content -->
  <div class="column">
    <div class="box">

      <div class="columns">
        <div class="column is-two-fifths">
          <h2 class="is-size-2 london">Welcome to Wayfarer!</h2>
          <p class="is-size-4 london">Check out our favorite cities</p>
          <i class="fas fa-arrow-left mx-2"></i><i class="fas fa-arrow-left mx-2"></i><i class="fas fa-arrow-left mx-2"></i>
        </div>
        <div class="column">
          <figure class="image is-16by19">
            <img src="{% static 'images/cities.jpeg' %}" alt="city image">
          </figure>
        </div>
      </div>
      <hr>    
      <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit suscipit iure commodi cupiditate cum labore obcaecati dolores natus! Libero hic mollitia harum accusamus cum iure magnam, totam nesciunt inventore non?Necessitatibus quidem quod consectetur tenetur, illo quas adipisci rerum quis, repellendus inventore eaque. Temporibus, libero. Dignissimos, explicabo numquam! Nihil impedit nemo et sit quibusdam incidunt odio ea doloribus totam ratione!
      </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}