{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="columns">
  <div class="column is-5 cities">
        <div class="columns">
            <figure class="column is-4 image is-128x128">
                <img src="{% static 'images/london1.jpg' %}">
              </figure>
            <div class="column is-8 has-text-centered is-vcentered">
                <a href="{% url 'london' %}" class="is-size-3 city">London</a>
            </div>
        </div>
        <div class="columns">
            <figure class="column is-4 image is-128x128">
                <img src="{% static 'images/sanfran.jpg' %}">
              </figure>
            <div class="column is-8 has-text-centered is-vcentered">
                <a href="{% url 'sanfran' %}" class="is-size-3 city">San Francisco</a>
            </div>
        </div>
        <div class="columns active">
            <figure class="column is-4 image is-128x128">
                <img src="{% static 'images/seattle.jpg' %}">
              </figure>
            <div class="column is-8 has-text-centered is-vcentered">
                <a href="{% url 'seattle' %}" class="is-size-3 city">Seattle</a>
            </div>
        </div>
        <div class="columns">
            <figure class="column is-4 image is-128x128">
                <img src="{% static 'images/sydney.jpg' %}">
              </figure>
            <div class="column is-8 has-text-centered is-vcentered">
                <a href="{% url 'sydney' %}" class="is-size-3 city">Sydney</a>
            </div>
        </div>
  </div>
  <div class="column is-7">
      <figure class="image">
        <img src="{% static 'images/seattle.jpg' %}" alt="">
      </figure>
      <div>
        <a href="{% url 'new_post' %}">
          <button>New Post</button>
        </a>
      </div>
      <!-- POST CONTENT -->
    {% if posts.count %}
    {% for post in posts %}  
    <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
    <img class="new-img" src="{{ post.post_img.url }}"/></p>
        </figure>
        <div class="media-content">
          <div class="content"> 
              <strong><a href="{% url 'post' post.id %}">{{ post.title }}</a></strong> <small>Date: {{ post.date }}</small>
              <p>
                By: {{ post.user.first_name}} {{ post.user.last_name}}
                <br/>{{ post.content }}</p>
          </div>
        </div>
      </article>
      {% endfor %}
      {% else %}
      <h2>No Posts Yet!</h2>
      {% endif %}
  </div>
</div>


{% endblock %}