{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="columns">
  <div class="column is-5 cities">
        <div class="columns">
            <figure class="column is-4 image is-128x128">
                <img src="{% static 'images/london1.jpg' %}">
              </figure>
            <div class="column is-8 has-text-centered is-vcentered">
                <a href="{% url 'london' %}" class="is-size-3 city">London</a>
            </div>
        </div>
        <div class="columns">
            <figure class="column is-4 image is-128x128">
                <img src="{% static 'images/sanfran.jpg' %}">
              </figure>
            <div class="column is-8 has-text-centered is-vcentered">
                <a href="{% url 'sanfran' %}" class="is-size-3 city">San Francisco</a>
            </div>
        </div>
        <div class="columns">
            <figure class="column is-4 image is-128x128">
                <img src="{% static 'images/seattle.jpg' %}">
              </figure>
            <div class="column is-8 has-text-centered is-vcentered">
                <a href="{% url 'seattle' %}" class="is-size-3 city">Seattle</a>
            </div>
        </div>
        <div class="columns active">
            <figure class="column is-4 image is-128x128">
                <img src="{% static 'images/sydney.jpg' %}">
              </figure>
            <div class="column is-8 has-text-centered is-vcentered">
                <a href="{% url 'sydney' %}" class="is-size-3 city">Sydney</a>
            </div>
        </div>
  </div>
  <div class="column is-7">
      <img src="{% static 'images/sydney.jpg' %}" alt="">
      <!-- POST CONTENT -->
    {% if posts.count %}
    {% for post in posts %}  
    <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content"> 
              <strong><a href="{% url 'post' post.id %}">{{ post.title }}</a></strong> <small>Date: {{ post.date }}</small>
              <p>
                By: {{ post.user.first_name}} {{ post.user.last_name}}
                <br/>{{ post.content }}</p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fas fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <button class="delete"></button>
        </div>
      </article>
      {% endfor %}
      {% else %}
      <h2>No Posts</h2>
      {% endif %}
  </div>
</div>

{% endblock %}