{% extends 'base.html' %}
{% load templatetags %}

{% block content %}
	
<div class="section">
  <div class="containter">
    <h1 class="title has-text-centered"> Edit Profile </h1>
    <div class="columns">
      <div class="column is-4"></div>
      <div class="column is-4">
        <form method="POST" enctype="multipart/form-data">
        	{% csrf_token %}  
        	{% for field in e_form %}
        	<label for="">{{ field.label }}</label>
        	{{ field|add_class:"input" }}
        	{% endfor %} 

			{% for field in p_form %}
        	<label for="">{{ field.label }}</label>
        	{{ field|add_class:"input" }}
        	{% endfor %} 

          <button type="submit" class="button mt-4">Save Changes</button> 
        </form>
        </div>
      <div class="column is-4"></div>
    </div>
  </div>
</div>
	
{% endblock %}