{% extends 'base.html' %}
{% block content %}
{% load tz %}


<section class="section">
    <div class="columns">
        
        <div class="column is-one-third is-offset-2">
            {% csrf_token %}
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by2">
                  {% if profile.prof_img %}
                    <img src="{{ profile.prof_img.url }}" alt="Profile Picture"/>
                    {% else %}
                    <img src="../static/images/defaultpic2.png" alt="Placeholder image"/>
                    {% endif %}
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 london">{{ profile.user.first_name}} {{ profile.user.last_name}}</p>
                    <p class="subtitle is-6">{{ profile.city }}</p>
                  </div>
                </div>
            
                <div class="content">
                    <p class="subtitle is-6">Joined: {{ profile.user.date_joined | timezone:'US/Pacific' }} PST</p>                </div>
              </div>
            </div>
        </div>
        <div class="column is-one-third">
      {% if posts.count %}
      {% for post in posts %}  
      <article class="media mx-5">
        <figure class="media-left">
          <p class="image is-128x128">
            <a href="{% url 'post' post.id %}"><img class="new-img" src="{{ post.post_img.url }}"/></a></p>
        </figure>
        <div class="media-content">
          <div class="content"> 
            <strong class="orange"><a href="{% url 'post' post.id %}">{{ post.title }}</a></strong> 
            <br><small>Date: {{ post.date }}</small>
              <p>{{ post.content }}</p>
          </div>
        </div>
      </article>
      {% endfor %}
      {% else %}
      <h2>No Posts yet..</h2><a href="{% url 'new_post' %}"><h2 class="create">Create a post!</h2></a>
      {% endif %}
        </div>
    </div>
</section>

{% endblock %}