{% extends 'base.html' %}
{% block content %}
{% load templatetags %}

<div class="section">
  <div class="containter">
    <h1 class="title has-text-centered mt-4"> Log In </h1>
    {% if form.errors %}
    <h3 class="has-text-danger has-text-centered">Username or password is incorrect</h3>
    {% endif %}
    <div class="columns">
      <div class="column is-4"></div>
      <div class="column is-4">
        <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
        
              {% for field in form %}
              <label for="">{{ field.label }}</label>
              {{ field|add_class:"input" }}
              {% endfor %}
              
              <div class="buttons has-addons is-centered">
                <button type="submit" class="button mt-4 mb-4">Login</button>
              </div>
          </form> 
      </div>
      <div class="column is-4"></div>
    </div>
  </div>
</div>

{% endblock %}