{% extends 'base.html' %}
{% block content %}
{% load templatetags %}

<div class="section">
  <div class="containter">
    <h1 class="title has-text-centered mt-4"> Sign Up </h1>
    <div class="columns">
      <div class="column is-4"></div>
      <div class="column is-4">
        <form action="{% url 'signup' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              {% for field in form %}
              <label for="">{{ field.label }}</label>
              {{ field|add_class:"input" }}
                
              {% endfor %}

              {% for field in p_reg_form %}
              <label for="">{{ field.label }}</label>
              {{ field|add_class:"input" }}
              {% endfor %}

              <div class="buttons has-addons is-centered">
                <button type="submit" class="button mt-4 mb-4">Sign Up</button>
              </div>
          </form> 
      </div>
      <div class="column is-4"></div>
    </div>
  </div>
</div>

{% endblock %}