{% extends 'base.html' %}
{% block content %}

<div class="columns my-6">
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image-fluid is-4by3">
                <img src="../static/images/image_from_ios.jpg"/></p>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <h2 class="is-size-3">Kaila Moreno</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dicta, quidem at culpa, amet magni ratione harum vitae sint nam necessitatibus eveniet, dignissimos vero labore hic nesciunt qui doloribus impedit!</p>
              </div>
            </div>
          </div>
          </div>
        </div>
    {% csrf_token %}
    <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image-fluid is-4by3">
            <img src="../static/images/image_from_ios.jpg"/></p>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <h2 class="is-size-3">Sabantu Yusuf</h2>
            <p>Software engineer with a background in language interpreting/ translating and business consulting.  Experienced Substitute Teacher with a demonstrated history of working in the primary/secondary education industry. Middle child and sister to seven amazing siblings.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image-fluid is-4by3">
                <img src="../static/images/prof_pic.jpg"/></p>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <h2 class="is-size-3">Ally Pittman</h2>
                <p>Former Customer Service/Animal Care Worker and Biology Grad turned Software Engineer! I'm a total animal lover and love to hike, swim, play video games, make wood burning art, and hang out with my pets. Current mom to two ball pythons and one spoiled kitty cat.</p>
              </div>
            </div>
          </div>
          </div>
        </div>
</div>


{% endblock %}