{% extends 'base.html' %}
{% block content %}

    <h1>About</h1>
    <h1>Sabantu Yusuf</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam temporibus expedita, blanditiis aut. Est vitae ad consectetur in quis. Ullam adipisci, id modi eaque quia nobis, odit ea voluptatem sapiente non asperiores dolor libero similique magnam nisi omnis possimus saepe magni esse. Ullam, eum voluptates amet tenetur doloribus sequi asperiores at tempora qui itaque officia, officiis quisquam provident veritatis quidem impedit quas unde beatae labore molestiae ab assumenda! Fugiat libero eius ab reprehenderit at ex quia vitae sint eos excepturi.</p>
    <h1>Kailla Moreno</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati atque reiciendis modi minima quasi aspernatur, enim accusantium sint asperiores ipsam recusandae nisi harum perspiciatis repellendus sunt suscipit aliquam nihil voluptate fugit unde! Natus voluptas nam distinctio necessitatibus minus nobis aut, iusto explicabo consequatur. A dolorem esse officiis totam, soluta laboriosam modi cupiditate commodi repellendus necessitatibus omnis enim provident hic quidem libero accusantium animi, laudantium perferendis fuga ullam ad. Velit quae eveniet dolorem quo porro reiciendis possimus doloremque saepe necessitatibus similique.</p>
    <h1>Ally Pittman</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio atque assumenda quibusdam possimus cupiditate deserunt consequuntur nesciunt dignissimos quisquam reiciendis officiis maiores consequatur doloribus omnis, quo debitis sequi aliquid, placeat modi delectus. Quasi sequi iusto mollitia libero nemo, maiores blanditiis est deleniti, distinctio quae quas assumenda temporibus eum soluta labore magni ratione porro voluptas deserunt totam natus earum illum! Officia dolores molestias eos, ea omnis illo nam perferendis sapiente voluptas nesciunt labore assumenda porro quidem commodi maiores sunt, hic nobis!</p>


{% endblock %}