{% extends 'base.html' %}
{% block content %}

<div class="columns my-6 mx-6">
    <div class="column">
        <div class="card mx-3">
          <div class="card-image">
            <figure class="image-fluid is-4by3">
                <img src="../static/images/kaila.jpeg"/></p>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <h2 class="is-size-3 orange">Kaila Moreno</h2>
                <p class="my-2">Jr Software Engineer with a background in communication design. My experience with graphic design in combination with front-end development gives me a 
                unique advantage when creating software. You can usually catch me making art, outdoors, or cuddling my cats.</p>
                <h5 class="my-2"><a href="mailto:kaila22@hotmail.com">Email me to connect!</a></h5>
              </div>
            </div>
          </div>
          </div>
        </div>
    <div class="column">
    <div class="card mx-3">
      <div class="card-image">
        <figure class="image-fluid is-4by3">
            <img src="../static/images/image_from_ios.jpg"/></p>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <h2 class="is-size-3 orange">Sabantu Yusuf</h2>
            <p class="my-2">Software engineer with a background in language interpreting/ translating and business consulting.  Experienced Substitute Teacher with a demonstrated history of working in the primary/secondary education industry. Middle child and sister to seven amazing siblings</p>
            <h5 class="my-2"><a href="mailto:sabantuyusuf@gmail.com">Email me to connect!</a></h5>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="column">
        <div class="card mx-3">
          <div class="card-image">
            <figure class="image-fluid is-4by3">
                <img src="../static/images/prof_pic.jpg"/></p>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <h2 class="is-size-3 orange">Ally Pittman</h2>
                <p class="my-2">Former Customer Service/Animal Care Worker and Biology Grad turned Software Engineer! I'm a total animal lover and love to hike, swim, play video games, make wood burning art, and hang out with my pets. Current mom to two ball pythons and one spoiled kitty cat.</p>
                <h5 class="my-2"><a href="mailto:pittman.ally@gmail.com">Email me to connect!</a></h5>
              </div>
            </div>
          </div>
          </div>
        </div>
</div>


{% endblock %}