{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Carousel -->
        <div class="wrap">
          <div id="arrow-left" class="arrow"><i class="fas fa-angle-double-left is-size-3"></i></div>
          <div id="slider">
            <div class="slide slide1">
              <div class="slide-content">
              </div>
            </div>
            <div class="slide slide2">
              <div class="slide-content">
              </div>
            </div>
            <div class="slide slide3">
              <div class="slide-content">
              </div>
            </div>
            <div class="slide slide4">
              <div class="slide-content">
              </div>
            </div>
          </div>
          <div id="arrow-right" class="arrow"><i class="fas fa-angle-double-right is-size-3"></i></div>
        </div>

<!-- About Section -->
<div class="level mt-5 mb-5">
    <h1 class="level-item has-text-centered is-size-3">Wayfarer is..</h1>
</div>
<div class="container-fluid mt-5 mb-5 info">
    <div class="columns is-centered">
            <div class="column is-3 my-4">
              <h5 class="is-size-5 about">Travel</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit, nam laborum qui veniam cum amet nemo iure eligendi fuga ullam esse dignissimos iusto odit, quis, aut consequatur sequi ipsa.Architecto modi a quasi facilis distinctio, facere alias eligendi? Provident delectus obcaecati rerum recusandae maiores quis laborum minima, facere, at suscipit ipsum aliquid asperiores, cum accusantium nostrum hic repellat. Debitis?</p>
            </div>
              <div class="column is-3 my-4">
                <h5 class="is-size-5 about">Connection</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit, nam laborum qui veniam cum amet nemo iure eligendi fuga ullam esse dignissimos iusto odit, quis, aut consequatur sequi ipsa.Architecto modi a quasi facilis distinctio, facere alias eligendi? Provident delectus obcaecati rerum recusandae maiores quis laborum minima, facere, at suscipit ipsum aliquid asperiores, cum accusantium nostrum hic repellat. Debitis?</p>
              </div>
              <div class="column is-3 my-4">
                <h5 class="is-size-5 about">Resources</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim suscipit, nam laborum qui veniam cum amet nemo iure eligendi fuga ullam esse dignissimos iusto odit, quis, aut consequatur sequi ipsa.Architecto modi a quasi facilis distinctio, facere alias eligendi? Provident delectus obcaecati rerum recusandae maiores quis laborum minima, facere, at suscipit ipsum aliquid asperiores, cum accusantium nostrum hic repellat. Debitis?</p>
              </div>
      </div>
</div>

{% endblock %}