/* Global Variables  */
:root {

}

/* Navbar */


/* Homepage */
/* .about {
    font-size: 2rem;
} */


/* Footer */
/* .footer {
    margin-bottom: 0;
} */

.slider-item {
    max-height: 70vh;
    align-self: center;
}

/* City Routes */
.cities {
    background: darkgrey;
}

