/* Global Variables  */
:root {

}

main {
    margin-top: 50px;
    margin-left: 30px;
}

/* Navbar */
.navbar, .navbar-end {
    display: flex;
}

.navbar-brand {
    width: 60%;
}

.navbar-end {
    margin-top: auto;
    margin-bottom: auto;
    
    float: right;
}

.navbar {
    background: lightblue;
}

.logo {
    margin-right: 10px;
    width: 6%;
    height: 100%;
}

.profpic {
    width: 20vw;
}

.title-link {
    background: lightblue;
    word-wrap: break-word;
    padding: 10px;
}

.posts {
    width: 30vw;
    display: inline-block;
}

.post-image {
    width: 20vw;
    padding-bottom: 20px;
}

.post-container {
    display: flex;
    flex-direction: row;
}

.active {
    background: lightblue;
}

/* Homepage */
/* .about {
    font-size: 2rem;
} */


/* Footer */
/* .footer {
    margin-bottom: 0;
} */

.slider-item {
    max-height: 70vh;
    align-self: center;
}

/* City Routes */
.cities {
    background: darkgrey;
}

