{% extends 'base.html' %}
{% load templatetags %}

{% block content %}

<div class="section">
  <div class="containter">
    <h1 class="title has-text-centered mt-4"> Create New Post </h1>
    <div class="columns">
      <div class="column is-4"></div>
      <div class="column is-4">
        <form action="{% url 'new_post' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}  
          {% for field in post_form %}
          <label for="">{{ field.label }}</label>
          {{ field|add_class:"input" }}
          {% endfor %} 
          <div class="buttons has-addons is-centered">
            <button type="submit" class="button mt-5 mb-4">Create Post</button>
          </div 
        </form>
        </div>
      <div class="column is-4"></div>
    </div>
  </div>
</div>

{% endblock %}